<div ng-controller="AllTravelDetails">


<div class="list">

  <div ng-repeat="travel in allTravelDetails" class="row item item-icon-left" href="#">

        <div class="row textCenter backgroundf7f7f7">
            <div class="col col-50">{{travel.doj}}</div>
            <div class="col col-20">{{travel.fromStationCode}}</div>
            <div class="col col-20">{{travel.toStationCode}}</div>
            <span class="step size-32">
                <i class="icon ion-eye "></i>
            </span>
        </div>

     </div>
</div>

</div>