<div ng-controller="DetailsConfirmation">

<div class="row textCenter">
  <div class="col col-50">Train No</div>
  <div class="col col-50"> {{travelDetails.trainName}} </div>
</div>

<div class="row textCenter">
  <div class="col col-50">Train Name</div>
  <div class="col col-50"> {{travelDetails.trainNo}} </div>
</div>

<div class="row textCenter">
  <div class="col col-50">From Station</div>
  <div class="col col-50"> {{travelDetails.fromStationName}} ({{travelDetails.fromStationCode}}) </div>
</div>

<div class="row textCenter">
  <div class="col col-50">To Station</div>
  <div class="col col-50"> {{travelDetails.toStationName}} ({{travelDetails.toStationCode}}) </div>
</div>

<div class="row textCenter">
  <div class="col col-50">Distance, to notify before destination reach </div>
  <div class="col col-50"> <input type='number' ng-model="travelDetails.distanceToAlarm" value='20'  class="glowing-border" /> KMs </div>
</div>

<br>
<br>
<br>

<div class="row">
<div class="col col-10">
</div>
<div class="col col-50">
	<button class="button button-positive floatright" ng-click="saveDetails()" >Track Journey !</button>
</div>

<div class="col col-50">
	<button class="button button-clear button-positive floatleft" ng-click="close()">Cancel</button>
</div>

</div>

</div>
