<div ng-controller="EnterPNR">
<div class="list">
 <label class="item item-input item-floating-label">
    <span class="input-label">PNR</span>
    <input type="number" ng-model="pnr" placeholder="PNR">
  </label>
</div>

<div class="row">

<div class="col col-50">
	<button class="button button-positive floatright" ng-click="getPNRDetails()" >Next !</button>
</div>

<div class="col col-50">
	<button class="button button-clear button-positive floatleft" ng-click="close()">Cancel</button>
</div>

</div>

</div>
