<div ng-controller="HomeController">

<div align='center'>
<br>
<br>
<br>
<br>

<span class="trackjourney">Track journey using</span>

<div class="row">
  <div class="col" >
	<a href="#/pnr">
	<button class="button button-calm track floatright" >
		PNR
	</button>
	</a>
  </div>

  <div class="vertical-line" > </div>

  <div class="col">
  	<a href="#/train">
	<button class="button button-calm track floatleft">
		Train
	</button>
	<a>
  </div>
</div>

<span class="tracknumber"> Number </span>

</div>

<div ui-view="detailsView"> </div>


</div>
`