<div ng-controller="TravelDetails">

<div class="row textCenter">
  <div class="col col-50">Train Name</div>
  <div class="col col-50"> {{travelDetails.trainName}} </div>
</div>

<div class="row textCenter">
  <div class="col col-50">Train No</div>
  <div class="col col-50"> {{travelDetails.trainNo}} </div>
</div>

<div ng-if="travelDetails.pnr" class="row textCenter">
  <div class="col col-50">PNR</div>
  <div class="col col-50"> {{travelDetails.pnr}} </div>
</div>

<div class="row textCenter">
  <div class="col col-50">From Station</div>
  <div class="col col-50"> {{travelDetails.fromStationName}} ({{travelDetails.fromStationCode}}) </div>
</div>

<div class="row textCenter">
  <div class="col col-50">To Station</div>
  <div class="col col-50"> {{travelDetails.toStationName}} ({{travelDetails.toStationCode}}) </div>
</div>

<div class="row textCenter">
  <div class="col col-50">Date</div>
  <div class="col col-50"> {{getFormattedDate(travelDetails.doj)}}  </div>
</div>

<div class="row textCenter">
  <div class="col col-50">Time</div>
  <div class="col col-50">{{getFormattedTime(travelDetails.doj)}} </div>
</div>

<div class="row textCenter">
  <div class="col col-50">Tracking Status</div>
  <div class="col col-50">{{getFormattedStatus(travelDetails.status)}} </div>
</div>

<div class="row textCenter">
  <div class="col col-50">Distance to destination</div>
  <div class="col col-50">{{travelDetails.remainingDistance}} </div>
</div>

 
<br><br>


<div class="row">

<div class="col col-33 col-offset-10">
<button class="button button-positive textCenter icon-right ion-location floatright " ng-click="trackTravel()" >Track</button>
</div>

<div class="col col-33 col-offset-10">
<button class="button button-assertive textCenter icon-right ion-trash-a floatleft" ng-click="deleteTravel()">Delete</button>
</div>

</div>

<!-- <button class="button button-positive textCenter " ng-click="openLocationSettings()" >Location Settings</button>

<button class="button button-positive textCenter " ng-click="openLocationSettings2()" >Location Settings 2</button>
 -->
</div>