/* Empty. Add your own CSS if you like */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  margin-left: -120px;
}

div.vertical-line{
  width: 2px; /* Line width */
  background-color: black; /* Line color */
  height: 120px; /* Override in-line if you want specific height. */
  float: left; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
  position: relative;
  top: -15px;
  margin-left: 1%;
  margin-right: 1%;
}

span.trackjourney{
	position: relative;
	top: -15px;
}

span.tracknumber{
	position: relative;
        top: -15px;
}

button.track{
	width: 50%;
}

.floatleft{
	float: left;
}

.floatright{
	float: right;
}

.pnrNextButton{
	position: relative;
	left: 40%;
}

.buttonCenter{
  position: relative;
  left: 50%;
}

.glowing-border {
    display: inline !important;   width: 40px !important;    padding-left: 1px !important; padding-bottom: 4px !important; border: 2px solid #dadada !important; border-radius: 7px !important;
}

.glowing-border:focus { 
  display: inline !important;   width: 40px !important;    padding-left: 1px !important; padding-bottom: 4px !important; 
    outline: none !important;
    border-color: #9ecaed !important;
    box-shadow: 0 0 10px #9ecaed !important;
}

 a {
      text-decoration:none;
}

    .step {
      display: inline-block;
      line-height: 1;
      position: relative;
      width: 10%;
    }

    .step i {
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s;
      transition: opacity .3s;
    }

    .step:hover i { opacity: .3; }

 .size-12 { font-size: 12px; }
    .size-14 { font-size: 14px; }
    .size-16 { font-size: 16px; }
    .size-18 { font-size: 18px; }
    .size-21 { font-size: 21px; }
    .size-24 { font-size: 24px; }
    .size-32 { font-size: 32px; }
    .size-48 { font-size: 48px; }
    .size-64 { font-size: 64px; }
    .size-96 { font-size: 96px; }


.textCenter{
  text-align: center;
  position: relative;
  top: 7px;
}

.backgroundf7f7f7{
  background: #f7f7f7
}

.clearboth{
  clear: both;
}

.vertical-align {
}

.top7{
  position: relative;
  top: 7px;
}

.shareTextPadding{
  padding-bottom: 15px !important;
  font-style: oblique;
  font-weight: bold;
}